#layout{
  position: relative;

}
.BoardButton{
  background-color: rgb(6, 74, 92);
  width: 20dvw;
  height: 20dvh; 
  vertical-align: top;
  font-size: 4em;
  border: solid  rgb(16, 12, 16);
  color:rgb(13, 255, 13);
}
.BoardButton:hover{
  background-color: rgb(8, 137, 173);
}
body{
  background-color: rgb(16, 12, 16);
  color:rgb(13, 255, 13);
}
#Score{
  position:absolute;
  right:0;
  top:20%;

}
#Continue{
  border-radius: 50%;
}
#Reset{
  border-radius: 50%;
}
img{  width:50px;
  height:3%;
  border-radius: 50%;
}
#gitpage{
  position: fixed;
  bottom: 0;
  right:0;
  text-decoration: none;
}
button :hover{
  opacity: 50%;
}

